{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
{{!-- {{> "site-nav"}} --}}
<header class="site-header-new">
    {{!-- <div class="inner"> --}}
        {{!-- <div class="site-header-content"> --}}
            <div class="divider-header">
                <div class="header-left  {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
                    <h3 class="site-title"> >_{{@blog.title}}</h3>
                    <h1 class="site-description">{{@blog.description}}</h1>
                </div>
                <div class="header-right">
                    {{#if @labs.subscribers}}
                        <h3>Inscreva-se.</h3>
                        <p>Receba os novos artigos diretamente no seu e-mail:</p>
                        {{subscribe_form placeholder="seuemail@email.com"}}
                    {{/if}}
                </div>
            </div>
        {{!-- </div> --}}
    {{!-- </div> --}}
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">

        <div class="post-feed">
            {{#foreach posts}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}
        </div>

    </div>
</main>
