{{!< default}}

{{#if success}}
  <button class="back-button" href="../">Voltar</button>

  <section class="subscribe-page">
    <header>
      <h1>Sucesso!</h1>
    </header>
    
    <p>
      Você seu inscreveu com sucesso em
      <em>{{@blog.title}}</em> com o e-mail
      <em>{{email}}</em>.
    </p>
  </section>
{{else}}
  <section class="subscribe-page">
    <header>
      <h1>Inscreva-se.</h1>
    </header>
  
    <section class="subscribe-form">
      <p>{{t "Get the latest posts delivered right to your inbox"}}</p>
      {{subscribe_form placeholder="seuemail@exemplo.com"}}
    </section>
  </section>
{{/if}}