{{!< default}}

{{> "nav"}}

{{#if success}}
  <section class="subscribe-page">
    <div class="subscribe-info">
      <header>
        <h1 class="subscribe-title">Sucesso!</h1>
      </header>

      <p class="subscribe-message">
        Você seu inscreveu com sucesso em
        <strong>{{@blog.title}}</strong> com o e-mail
        <strong>{{strongail}}</strong>.
      </p>

      <a href="{{@blog.url}}" alt="{{@blog.title}}">Voltar para a página principal</a>
    </div>
  </section>
{{else}}
  <section class="subscribe-page">
    <section class="subscribe-form">
      <h3 class="subscribe-form-title">Inscreva-se.</h3>
      <p>{{t "Get the latest posts delivered right to your inbox"}}</p>
      {{subscribe_form placeholder="seuemail@exemplo.com"}}
    </section>
  </section>
{{/if}}